@import "variables";

.row{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
    @media only screen and (max-width: 1100px){
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }
    @media only screen and (max-width: 800px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-card{
        overflow: hidden;
        display: grid;
        grid-template-rows: 30% 70%;
        width: 22.9375rem;
        height: 38rem;
        border-radius: 0.625rem;
        background: #FFF;
        box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.20);

        .image{
            overflow: hidden;
            img{
                max-width: 100%; 
                max-height: 100%; 
                object-fit: cover; 
                width: 100%; 
                height: 100%;
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            h2{
                color: #4A2960;
                font-family: inherit;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h6{
                color: #777;
                font-family: inherit;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.875rem; /* 250% */
            }
            .para{
                overflow: auto;
                max-height: 13rem;
                p{
                    color: #4A2960;
                    font-family: inherit;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }

            button{
                display: flex;
                width: 8.125rem;
                height: 2.5875rem;
                padding: 0.875rem 1.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                flex-shrink: 0;
                border-radius: 0.3125rem;
                background: #FFDFD0;
                outline: none;
                border: none;
                color: #FE5D14;
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                transition: all ease-out 0.2s;
            }

            button:hover{
                background-color: $cta-color;
                color: white;
            }
        }
    }
}
  .blog-card{
    .content{
            ::-webkit-scrollbar {
                width: 4px; /* Adjust the width of the scrollbar */
              }
              
              ::-webkit-scrollbar-track {
                background: white; /* Change the color of the track */
              }
              
              ::-webkit-scrollbar-thumb {
                background: $card-orange-hover;
                border-radius: 10rem;
              }
    }
  }